langchain==0.3.0
langchain-anthropic==0.2.0
langgraph==0.2.20
sentence-transformers==3.1.1
tavily-python==0.5.0
pydantic==2.9.0
python-dotenv==1.0.1
langchain-huggingface
langchain-chroma
langchain-groq